<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">

    <title>Add New Player</title>
</head>
<body>
<div class="container">
    <h3 class="h3 mb-4">Add Player</h3>
    <hr>
    <form action="#" th:action="@{/admin/save-player/{teamID}(teamID=${currentTeamID})}" th:object=${freshPlayer}
          method="POST">
        <div class="input-group mb-4 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">Player Name</span>
            </div>
            <input type="text" th:field="*{playerName}" class="form-control" th:errorclass="is-invalid">
            <p th:if="${#fields.hasErrors('playerName')}"
               class="invalid-feedback" th:errors="*{playerName}">Invalid Player Name</p>
        </div>
        <button type="submit" class="btn btn-info col-4">Add Player</button>
    </form>
    <a th:href="@{/leaderboard}">Back to Leaderboard</a>
</div>
</body>
</html>