<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">

    <title>Page Not Found</title>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">404</h1>
    <p class="lead">Page Not Found</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" th:href="@{/leaderboard}" role="button">Back to Leaderboard</a>

</div>
</body>
</html>